<div class="logos">
   <ul class="logos-slide">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
       <img src="https://placehold.jp/150x150.png">
   </ul>
</div>