<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Gamez</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/splash.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" />
</head>

<header class="header" id="header">
    <nav class="navbar container">

        <a href="/" class="brandlogo"><img src="/images/good-games-logo.png" /></a>

        <div class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <div class="menu" id="menu">
            <ul class="menu-inner"> <!--header/ burger menu page links here-->

                <li class="menu-item"><a href="/" class="menu-link">Home</a></li>
                <li class="menu-item"><a href="/games" class="menu-link">Games</a></li>
                <li class="menu-item"><a href="/profiles" class="menu-link">Profiles</a></li>
                <li class="menu-item"><a href="/support" class="menu-link">Support</a></li>
                <div class="search-container">
        <!-- Search form -->
            <input type="text" id="search-input" placeholder="Search for a game..." name="search">
            <input type="submit" value="Search" id="search-button">
        </form>
    </div>
            </ul>
        </div>

        {{!-- {{#if !session.userid}}
        <a href="#" class="menu-block">Join</a>
        {{#else}}
        <a href="#" class="menu-block">logout</a>
        {{#/if}} --}}


        <a href="/register" class="menu-block">Join</a>


    </nav>

</header>

<body>
    <div class="main-container">
        {{{body}}}
    </div>

        {{!-- <div class="wrapper">
            <div class="login-wrapper">
                <form action="">
                    <h3>Login</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Email" required>
                        <i class='bx bxs-user'></i>
                    </div>


    <div class="wrapper">
        <div class="login-wrapper">
            <form action="">
                <h3>Login</h3>
                <div class="input-box">
                    <input type="text" placeholder="Email" required>
                    <i class='bx bxs-user'></i>
                </div>


                <div class="input-box">
                    <input type="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password</a>
                </div>

                <button type="submit" class="btn">Login</button>

                <div class="register-link">
                    <p>Don't have an account? <a href="#">Register</a></p>
                </div>
            </form>


            </div> --}}
            

    </body>
    <div class="social">
        <div class="banner-links">
            <a href="#" title=""><i class="fa fa-facebook-f"></i></a>
            <a href="#" title=""><i class="fa fa-twitter"></i></a>
            <a href="#" title=""><i class="fa fa-instagram"></i></a>
            <a href="#" title=""><i class="fa fa-youtube-play"></i></a>
            <a href="#" title=""><i class="fa-brands fa-discord"></i></a>
        </div>

        

        </div>
        <script src="/js/burger.js"></script>
        <script src="/js/script.js"></script>
